
/* 775 by 363 */

body {
    background-color: #fff;
    font-family: 'Inconsolata', sans-serif;
    color: #fff;
    font-size: 8pt;
    margin: 0;
    overflow: hidden;
}

canvas {
    /* background: #c6c6c6 */
}